*
{
    margin: 20px;
}
body
{
    background-color: bisque;
    font-family: Impact;
}
h1
{
    padding: 10px;
    border: 15px;
    border-style: dashed;
    color:hotpink;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
p
{
    background-color: darkorange;
    color: blue;
    text-align: justify;
}
img
{
    width: 30%;

}